

    
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Title' %>
      </div>
      <div class="form-group">
        <%= f.text_field :eventType, class: "form-control input-lg", placeholder: 'Type: Dance, coffee meeting, BBQ..' %>
      </div>
      <div class="row">
       
          <div class="form-group">
            <label>Date</label>
            <%= f.date_field :eventDate, class: "form-control input-lg", placeholder: "dd-mm-yyyy", id:"datePicker" %>
          </div>
        
        <label>time commence</label>
          <div class="form-group">
            <%= f.time_field :eventTime, class: "form-control input-lg", placeholder: "time: hh:mm" %>
          </div>
        
      </div>
      <div class="form-group">
        <%= f.text_field :venue, class: 'form-control input-lg', placeholder: 'Venue' %>
      </div>
      <div class="form-group">
      	
        <%= f.text_field :description, class: 'form-control input-lg', placeholder: 'Description'%>
      </div>
      <div class="form-group">
        <label>Upload picture</label>
        <%=f.fields_for :event_pictures do |p|%>
        <%= p.text_field :picturename, class: 'form-control input-lg'%>
        <%= p.hidden_field :event_id,:value=> @event.id %>
        <%end%>
        
      </div>
      



<!-- Modal -->


