<div class="form-group">
        <%=f.fields_for :tickets do |p|%>
        <%= p.number_field :price, class: 'form-control input-lg', placeholder:"Price"%>
        <%= p.number_field :maxnumber, class: 'form-control input-lg', placeholder:"Number of ticket available"%>
        <label>Sale starts on: <label>
        <%= p.date_field :startdate, class: 'form-control input-lg'%>
        <label>And end on:<label>
        <%= p.date_field :closedate, class: 'form-control input-lg'%>
        <%= p.text_field :description, class: 'form-control input-lg', placeholder:"Description"%>

        <%= p.hidden_field :event_id,:value=> @event.id %>
        <%end%>
        </div>